* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary-dark-cyan: #0e8784;
  --color-primary-dark-blue: #333d4b;
  --color-secondary-pale-orange: #fdd6ba;
  --color-secondary-light-cyan: #66d2cf;
  --color-secondary-light-cream: #fefcf7;
  --color-secondary-grey: #83888f; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: var(--color-secondary-light-cream); }

h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900; }

p {
  font-family: "Barlow", sans-serif;
  color: var(--color-secondary-light-cream); }

li {
  list-style: none; }

a {
  text-decoration: none; }

.btn {
  cursor: pointer;
  background-color: var(--color-primary-dark-cyan);
  border-radius: 0.6rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  color: var(--color-secondary-light-cream);
  padding: 1.6rem 3.1rem;
  transition: background-color 0.3s; }

.btn:hover {
  background-color: var(--color-secondary-light-cyan); }

.inactive {
  display: none; }

.active {
  display: block; }

.overlay-open {
  overflow: hidden; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem auto;
  width: 87%; }

.header {
  padding: 10rem 2.4rem;
  margin: 0 auto;
  width: 87%;
  background-image: url("/assets/home/mobile/image-hero-coffeepress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  margin-bottom: 12rem; }
  @media screen and (min-width: 768px) {
    .header {
      padding: 10.4rem 5.8rem;
      background-image: url("/assets/home/tablet/image-hero-coffeepress.jpg"); } }
  @media screen and (min-width: 1200px) {
    .header {
      padding: 11.7rem 8.5rem;
      background-image: url("/assets/home/desktop/image-hero-coffeepress.jpg"); } }

.collection {
  width: 87%;
  margin: 0 auto; }

.logo {
  height: 1.8rem; }
  @media screen and (min-width: 768px) {
    .logo {
      height: 2.6rem; } }

@media screen and (min-width: 768px) {
  .hamburger {
    display: none; } }

.hamburger:hover,
.close:hover {
  cursor: pointer; }

.overlay {
  background: linear-gradient(180deg, var(--color-secondary-light-cream) 27%, rgba(254, 252, 247, 0.504981) 55.94%);
  height: 100vh;
  width: 0vw;
  position: fixed;
  top: 9vh;
  right: 0;
  overflow-x: hidden;
  z-index: 1;
  padding-top: 4rem;
  text-align: center;
  transition: 0.5s; }
  @media screen and (min-width: 768px) {
    .overlay {
      background: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: initial;
      width: 41%;
      max-width: 28.3rem;
      position: initial;
      overflow-x: initial;
      text-align: initial;
      padding-top: 0; } }
  .overlay .overlay-navigation .navigation-link {
    display: block;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: var(--color-primary-dark-blue);
    margin-bottom: 3.2rem;
    white-space: nowrap;
    transition: 0.3s; }
    @media screen and (min-width: 768px) {
      .overlay .overlay-navigation .navigation-link {
        display: initial;
        font-family: "Barlow", sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--color-secondary-grey);
        margin-bottom: initial;
        white-space: initial;
        line-height: 1.5rem;
        letter-spacing: 0.09rem;
        text-transform: uppercase; } }
    .overlay .overlay-navigation .navigation-link:hover {
      color: var(--color-primary-dark-cyan); }

.show {
  width: 100vw; }

.header-content .header-title {
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 2.4rem; }
  @media screen and (min-width: 768px) {
    .header-content .header-title {
      font-size: 4.8rem;
      line-height: 4.8rem;
      text-align: left;
      max-width: 32.9rem; } }
  @media screen and (min-width: 1200px) {
    .header-content .header-title {
      font-size: 7.2rem;
      line-height: 7.2rem;
      max-width: 49.3rem; } }
.header-content .header-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 4rem; }
  @media screen and (min-width: 768px) {
    .header-content .header-text {
      text-align: left;
      max-width: 39.8rem; } }
  @media screen and (min-width: 1200px) {
    .header-content .header-text {
      margin-bottom: 5.6rem;
      max-width: 44.5rem; } }
.header-content .header-btn {
  display: block;
  margin: 0 auto;
  width: 21.7rem; }
  @media screen and (min-width: 768px) {
    .header-content .header-btn {
      margin: initial; } }

.collection-header {
  text-align: center;
  font-family: "Fraunces", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  width: 100%;
  margin-bottom: 2.5rem;
  background-image: linear-gradient(360deg, rgba(254, 252, 247, 0.0001) 0%, var(--color-primary-dark-blue) 175%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.collection-item-box {
  width: 100%;
  text-align: center;
  margin-bottom: 4.8rem; }
.collection-item {
  height: 15rem; }
.collection-item-text .collection-item-heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  margin-bottom: 1.6rem;
  color: var(--color-primary-dark-blue); }
.collection .collection-item-paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: var(--color-primary-dark-blue); }

/*# sourceMappingURL=main.css.map */
