.header-content {
  .header-title {
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  .header-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 3.9rem;
  }

  .header-btn {
    display: block;
    margin: 0 auto;
    width: 21.7rem;
  }
}
